[Unit]
Description=Fetch quantum data.

[Service]
Type=oneshot
Environment=DISPLAY=:1
Environment=XAUTHORITY=/home/tassos/.local/share/sx/xauthority
ExecStart=sh -c /home/tassos/software/ibmq-calibration-fetcher/run.sh
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=fetch-quantum-data.timer
